p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 20px;
}
h2{
    color: #fff;
}
%size {
  background-repeat: no-repeat;
  background-size: 200%;
}

.footer {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../home/IMG/Ciudad1.jpg");
  @extend %size;
  animation: Movimiento 10s infinite linear alternate;

  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.2s;
}

.footer-icon:hover {
  transform: scale(1.1);
}
