<div class="container text-center">
  <footer class="footer">
    <div class="footer-content">
      <a href="https://www.linkedin.com/in/yonatan-alejandro-rojas-70571a236/" target="_blank" aria-label="LinkedIn">
        <img src="../assets/img/linkedln_logo.png" alt="LinkedIn" class="footer-icon" />
      </a>
      <a href="mailto:yonatanrojaszero@gmail.com" aria-label="Correo">
        <img src="../assets/img/correo_logo.jpg" alt="Correo" class="footer-icon" />
      </a>
      <a href="https://github.com/YonatanRojas/" target="_blank" aria-label="GitHub">
        <img src="../assets/img/github_logo.png" alt="GitHub" class="footer-icon" />
      </a>
    </div>
  </footer>


  <p>Derechos Reservados: Yonatan A. Rojas</p>
</div>
