
<footer class="footer">
  <div class="footer-content">
    <a href="https://www.linkedin.com/in/yonatan-alejandro-rojas-70571a236/" target="_blank" aria-label="LinkedIn">
      <img src="img/linkedln_logo.png" alt="LinkedIn" class="footer-icon" />
    </a>
    <a href="mailto:yonatanrojaszero@gmail.com" aria-label="Correo">
      <img src="img/correo_logo.png" alt="Correo" class="footer-icon" />
    </a>
    <a href="https://github.com/YonatanRojas/" target="_blank" aria-label="GitHub">
      <img src="img/github_logo.png" alt="GitHub" class="footer-icon" />
    </a>
  </div>
  <p>Derechos Reservados: Yonatan A. Rojas</p>
</footer>


