
<footer class="footer">
  <h2>Contactos</h2>
  <div class="footer-content">
    <a href="https://www.linkedin.com/in/yonatan-alejandro-rojas-70571a236/" target="_blank" aria-label="LinkedIn">
      <img src="assets/IMG/linkedln_logo.png" alt="LinkedIn" class="footer-icon" />
    </a>
    <a href="mailto:yonatanrojaszero@gmail.com" aria-label="Correo">
      <img src="assets/IMG/correo_logo.png" alt="Correo" class="footer-icon" />
    </a>
    <a href="https://github.com/YonatanRojas/" target="_blank" aria-label="GitHub">
      <img src="assets/IMG/github_logo.png" alt="GitHub" class="footer-icon" />
    </a>
    <a href="assets/cv.pdf" download="cv.pdf">
      <img src="https://images.vexels.com/media/users/3/140030/isolated/preview/521136d25b37386f49728b93d2e4e6fa-icono-de-cv-by-vexels.png" alt="Icono de CV - Descargar PNG/SVG transparente" class="footer-icon"/>
      
    </a>
  </div>

  <p>Derechos Reservados: Yonatan A. Rojas</p>
</footer>


