<main class="container">
    <div class="formulario">
      <form action="https://formspree.io/f/mjvlqoje" method="POST">
        <label for="nombreApellido">Nombre y Apellido</label>
        <input class="input" type="text" id="nombreApellido" required placeholder="Ingrese su nombre" name="name">

        <label for="correoElectronico">Corre Electronico</label>
        <input class="input" type="email" id="correoElectronico" required placeholder="email@dominio.com" name="email">

        <label for="telefono">Telefono</label>
        <input class="input" type="tel" id="telefono" required placeholder="(xx) XXXX XXXX" name="phone">

          <label for="mensaje">Mensaje</label>
          <textarea cols="70" rows="10" id="mensaje" name="message" required></textarea>

          <fieldset style="border: none;">
            <legend>¿Como le gustaria que lo contactemos?</legend>

            <label for="radio-email"><input type="radio" value="email" name="contacto" 
                    id="radio-email">Email</label>
                

            <label for="radio-telefono"><input type="radio" value="telefono" name="contacto" 
                    id="radio-telefono">telefono</label>
                

            <label for="radio-whatsap"><input type="radio" value="Whatsap" name="contacto" 
                  id="radio-whatsap" checked>Whatsap</label>
                
          </fieldset>
          <input class="enviar" type="submit" value="Enviar Formulario">
      </form>
    </div>
  <div class="contactos">
    <a href="https://www.instagram.com/yonatan6731/"><div class="contactame instagram"></div></a>
    <a href="https://github.com/YonatanRojas"><div class="contactame github"></div></a>
    <a href="https://www.linkedin.com/in/yonatan-alejandro-rojas-70571a236/"><div class="contactame linkedin"></div></a>
  </div>
</main>
