<main class="container">
  <section class="contactos">
    <div class="contacto telefono">
      <fa-icon ></fa-icon><p>13141515</p>
    </div>
    <div class="contacto instagram">
      <fa-icon></fa-icon><p>@yonatan6731</p>
    </div>
    <div class="contacto github">
      <fa-icon></fa-icon><p>https://github.com/YonatanRojas</p>
    </div>
    <div class="contacto linkedin">
      <fa-icon></fa-icon><p>https://www.linkedin.com/in/yonatan-alejandro-rojas-70571a236/</p>
    </div>
  </section>
</main>
