body{
  background-color: #151515;
}
.container-general{
  height: 500px;
}

.container{
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 100px auto 0;

  .cube{
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
    animation: spin 5s infinite linear;

    .cara{
      position: absolute;
      width: 100%;
      height: 100%;
      border: 3px solid white;
    }

    .Alta{
      transform: rotateX(90deg) translateZ(100px);
    }
    .Baja{
      transform: rotateX(-90deg) translateZ(100px);
    }
    .Derecha{
      transform: rotateX(90deg) translateZ(100px);
    }
    .Izquierda{
      transform: rotateX(-90deg) translateZ(100px);
    }
    .Frontal{
      transform: rotateX(0deg) translateZ(100px);
    }
    .Trasera{
      transform: rotateX(-180deg) translateZ(100px);
    }
  }
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    transform: rotateX(360deg) rotateY(360deg);
  }
}

//EVENTOS CON TS
.newCaraFrontal{
  background-color: rebeccapurple;
}
