
<div class="container">
  <div class="foto"><img src=""></div>
  <div class="informacion">
    <h2>Mis Datos</h2>
    <ul>
      <li><p><b>Nombre y apellido:</b> Yonatan (Alejandro) Rojas</p></li>
      <li><p><b>Edad:</b> 19 años</p></li>
      <li><p><b>Nacionalidad:</b> Argentina</p></li>
      <li><p><b>Ocupacion:</b> Estudiante de Ingenieria en Informatica,
        Programador Web junior y front-end developer junior.<br> Tambien actualmente me encuentro
        estudiando una licenciatura de Ingles C1.
      </p></li>
      <li><p><b>Bibliografia:</b> soy un entusiasma por la informatica y mas en torno a la web y toda su estructura en torno a las paginas,
        me considero una persona muy ordenada la cual esta dispuesta a ayudar aquien lo necesite, tambien busco aprender mas y mejorar mas mis capacidades como Programador.
        Busco tambien mejorar y aportar el 100% a cualquier grupo que necesite de mis habilidades sin negar nada.</p></li>
    </ul>
  </div>
  <div class="experiencia">
    <h2>Experiencia en programacion:</h2>
    <ul>
      <li><p>Realizacion de un "juego del Ahorcado" pedido por One oracle para el uso de compañeros y
        entretenimiento, donde se charlo con otros programadores para sacar ideas para el resultado final y
        se escucho las opiniones y sugerencias de usuarios.</p></li>
      <li><p>Realizacion de un "Encriptador de texto" para el guardado de mensajes importantes que un usuario desee
        compartir con los demas en donde solo se desencriptara el mismo texto entrando a la misma pagina, guardando asi
        mensajes importantes.</p></li>
      <li><p>Realizacion de una "pagina de noticias" japonesas para que usuarios se enteren de lugares de japon y o cultura
        en general. </p></li>
      <li><p>Realizacion de una "pagina de guardado de listas de pacientes" donde se busco facilitar el guardado de informacion,
        de algunos pacientes y que la misma quedara publica para compartirlo ya sea con el mismo personal como usuarios.
      </p></li>
    </ul>
  </div>
  <div class="habilidades">
    <h2>Capacidades</h2>
    <ul>
      <li><b>Programing Languages:</b> Javascript, python basico, Java basico</li>
      <li><b>Abilities:</b> HTML, CSS3, SASS(SCSS) </li>
      <li><b>FrameWorks:</b> Angular</li>
      <li><b>Styles:</b> Bootstrap, Font awesome, Flex</li>
      <li><b>Data Base:</b> SQL</li>
      <li><b>OTher Abilities:</b> Github, Git, Canva, Flask, FireBase</li>
      <li><b>Herramientas de trabajo:</b> Trello, figma</li>
    </ul>
  </div>
  <main class="mas_informacion">
    <h3>Formacion y Gustos:</h3>
    <div class="habilidades_blandas">
      <ul>
        <li><b>Soft Skills:</b> Comunicacion, Empatia, liderasgo, escucha y responsabilidad</li>
        <li><b>Hobbies:</b> Ver anime, jugar videojuegos, leer variedad de libros y cuidar a mis gatos.</li>
      </ul>
    </div>
    <div class="academica">
      <ul>
        <li><b>Academias/universidades:</b> Universidad nacional Arturo Jauretchel, Edutin Academy y Oracle One Education academy</li>
        <li><b>Formacion y Cursos:</b> Fundamentos en Informatica, Principiante en programacion, Taller de ingenieria, capacitacion en Bootstrap,
          Html:5 Completo, Css completo, Javascript completo, Programador front-end, programacion con python y Flask, Base de datos,
          principiante en MYSQL, Programacion en Java, Businnes Agility y Formacion Emprendimiento.</li>
      </ul>
    </div>
  </main>
  <main class="info_contacto">
    <div class="redes_sociales">
      <h3>Contactos:</h3>
      <div class="contacto telefono">
        <fa-icon [icon]="faPhone"></fa-icon>
        <a>+540 11 2553-9551</a>
      </div>
      <div class="contacto gmail">
        <fa-icon [icon]="faMail"></fa-icon>
        <a href="">yonatanrojaszero@gmail.com</a>
      </div>
      <div class="contacto instagram">
        <fa-icon [icon]="faInstagram"></fa-icon>
        <a href="">@yonatan6731</a>
      </div>
      <div class="contacto github">
        <fa-icon [icon]="faGithub"></fa-icon>
        <a href="">https://github.com/YonatanRojas</a>
      </div>
      <div class="contacto linkedin">
        <fa-icon [icon]="faLinkedin"></fa-icon>
        <a href="">https://www.linkedin.com/in/yonatan-alejandro-rojas-70571a236/</a>
      </div>
    </div>
  </main>
</div>


