
<div class="container">
  <div class="foto"><img src=""></div>
  <div class="informacion">
    <h2>Mis Datos</h2>
    <ul>
      <li><p><b>Nombre y apellido:</b> Yonatan (Alejandro) Rojas</p></li>
      <li><p><b>Ocupacion:</b> Estudiante de Ingenieria en Informatica,
        Programador Web junior y front-end developer junior.<br> Tambien actualmente me encuentro
        estudiando una licenciatura de Ingles C1.
      </p></li>
      <li><p><b>Descripcion:</b> Muchas gracias por tomarse el tiempo de visitar mi portfolio, algo que puedo agregar sobre mi es que
      soy un entusiasma por la informatica y mas en torno a la web, me considero una persona muy ordenada la cual esta dispuesta a ayudar aquien lo necesite, tambien busco aprender mas y mejorar mas mis capacidades como Programador.
    Busco tambien mejorar y aportar el 100% a una empresa para poder hacerla mas conocida y mas grande.</p></li>
    </ul>
  </div>

  <div class="habilidades">
    <h2>Capacidades</h2>
    <ul>
      <li><b>Programing Languages:</b> Javascript y python basico</li>
      <li><b>Abilities:</b> HTML, CSS3, SASS(SCSS) </li>
      <li><b>FrameWorks:</b> Angular</li>
      <li><b>Styles:</b> Bootstrap</li>
      <li><b>Data Base:</b> SQL</li>
      <li>OTher Abilities: Github, Git, Canva, Flask, FireBase, </li>
    </ul>
  </div>
  <div class="certificados">
    <h3>Certificaciones:</h3>


    <h3>Otras Certificaciones de Pequeños Cursos dentro de los Certificados:</h3>

  </div>
</div>


