<div class="container">
    <h1 class="title">Bienvenido a Mi Portfolio</h1>
    <img class="foto">
</div>
<div class="capsule">
  <div class="container-2">
    <div class="sobre-mi">
      <p class="textos"> Soy Yonatan Alejandro Rojas Portal estoy ubicado actualmente en Argentina y soy un
      Desarrollador web que busca nuevos desafios, soy estudiante de
      Ingenieria en Informatica y estoy Certificado como Programador Web. </p>
    </div>

  </div>
  <div class="container-3">
    <h2 class="title2">Mis Projectos</h2>
    <div class="Info-Project" routerLinkActive="active">
      <button class="button" id="button6" type="button" onclick="true">
        <a href="https://yonatanrojas.github.io/Encriptador-de-texto/">Encriptador</a></button>
    </div>
    <div class="Info-Project" routerLinkActive="active">
      <button class="button" id="button6" type="button" onclick="true">
        <a href="https://yonatanrojas.github.io/Juego_del_Ahorcado/">Juego del Ahoracado</a></button>
    </div>
    <div class="Info-Project" routerLinkActive="active">
      <button class="button" id="button7" type="button" onclick="true">
        <a href="https://yonatanrojas.github.io/Listas-de-Pacientes/">Listas</a></button>
    </div>

    <main class="container">
      <div class="contactos">
        <a href="https://www.instagram.com/yonatan6731/"><div class="contactame instagram"></div></a>
        <a href="https://github.com/YonatanRojas"><div class="contactame github"></div></a>
        <a href="https://www.linkedin.com/in/yonatan-alejandro-rojas-70571a236/"><div class="contactame linkedin"></div></a>
      </div>
    </main>
  </div>

