<div class="container">
    <h1 class="title">Bienvenido a Mi Portfolio</h1>
    <img class="foto">
</div>
<div class="capsule">
  <div class="container-2">
    <div class="sobre-mi">

      <div class="container-3">
        <div class="foto"><img src=""></div>
        <div class="informacion">
          <h2>Mis Datos</h2>
          <ul>
            <li><p><b>Nombre y apellido:</b> Yonatan (Alejandro) Rojas</p></li>
            <li><p><b>Edad:</b> 22 años</p></li>
            <li><p><b>Nacionalidad:</b> Argentina</p></li>
            <li>
              <p>
                <b>Ocupacion:</b> Estudiante de Ingenieria en Informatica,
                Programador Web junior y front-end developer junior.<br>
              </p>
            </li>
            <li>
              <p><b>Idiomas:</b> Español nativo y Ingles B1</p>
            </li>
            <li>
              <p>
                <b>Bibliografia:</b> Soy un apasionado de la informática, especialmente del
                desarrollo web y su infraestructura. Me considero una persona organizada, con un enfoque
                colaborativo y siempre dispuesta a apoyar a quienes lo necesiten. Estoy comprometido con
                el aprendizaje continuo y la mejora constante de mis habilidades como programador. Mi objetivo
                es contribuir al máximo en los proyectos en los que participo,
                aportando soluciones efectivas y trabajando en equipo para lograr los mejores resultados.
              </p>
            </li>
          </ul>
        </div>
        <div class="experiencia">
          <h2>Experiencia en programacion:</h2>
          <ul>
            <li>
              <p>
                Realizacion de un "juego del Ahorcado" pedido por One oracle para el uso de compañeros y
                entretenimiento, donde se charlo con otros programadores para sacar ideas para el resultado final y
                se escucho las opiniones y sugerencias de usuarios.
              </p>
            </li>
            <li>
              <p>
                Realizacion de un "Encriptador de texto" para el guardado de mensajes importantes que un usuario desee
                compartir con los demas en donde solo se desencriptara el mismo texto entrando a la misma pagina, guardando asi
                mensajes importantes.
              </p>
            </li>
            <li>
              <p>
                Realizacion de una "pagina de noticias" japonesas para que usuarios se enteren de lugares de japon y o cultura
                en general.
              </p>
            </li>
            <li>
              <p>
                Realizacion de una "pagina de guardado de listas de pacientes" donde se busco facilitar el guardado de informacion,
                de algunos pacientes y que la misma quedara publica para compartirlo ya sea con el mismo personal como usuarios.
              </p>
            </li>
          </ul>
        </div>
        <div class="habilidades">
          <h2>Capacidades</h2>
          <ul>
            <li><b>Programing Languages:</b> Javascript, python basico, C#</li>
            <li><b>Abilities:</b> HTML, CSS3, SASS(SCSS) </li>
            <li><b>FrameWorks:</b> Angular, React</li>
            <li><b>Styles:</b> Bootstrap, Font awesome, Flex</li>
            <li><b>Data Base:</b> SQL</li>
            <li><b>OTher Abilities:</b> Github, Canva, FireBase</li>
            <li><b>Herramientas de trabajo:</b> Trello, figma</li>
          </ul>
        </div>
        <main class="mas_informacion">
          <h3>Formacion y Gustos:</h3>
          <div class="habilidades_blandas">
            <ul>
              <li><b>Soft Skills:</b> Comunicacion, Empatia, liderasgo, escucha y responsabilidad</li>

            </ul>
          </div>
          <div class="academica">
            <ul>
              <li><b>Academias/universidades:</b> Universidad nacional Arturo Jauretchel, Edutin Academy y Oracle One Education academy</li>
              <li>
                <b>Formacion y Cursos:</b> Fundamentos en Informatica, Principiante en programacion, Taller de ingenieria, capacitacion en Bootstrap,
                Html:5 Completo, Css completo, Javascript completo, Programador front-end, programacion con python y Flask, Base de datos,
                principiante en MYSQL, Programacion en c#, Businnes Agility y Formacion Emprendimiento.
              </li>
            </ul>
          </div>
        </main>
        <main class="info_contacto">
          <div class="redes_sociales">
            <h3>Contactos:</h3>

            <div class="contacto gmail">
              <fa-icon [icon]="faMail"></fa-icon>
              <a href="">yonatanrojaszero@gmail.com</a>
            </div>

            <div class="contacto github">
              <fa-icon [icon]="faGithub"></fa-icon>
              <a href="">https://github.com/YonatanRojas</a>
            </div>
            <div class="contacto linkedin">
              <fa-icon [icon]="faLinkedin"></fa-icon>
              <a href="">https://www.linkedin.com/in/yonatan-alejandro-rojas-70571a236/</a>
            </div>
          </div>
        </main>
      </div>


    </div>
    <h2 class="title"> Proyectos</h2>
  </div>

  <div class="projects-container">
    
    <div class="project-card" *ngFor="let project of projects">
      <a [href]="project.link" target="_blank" rel="noopener noreferrer">
        <img [src]="project.image" [alt]="project.name" class="project-image" />
        <h3 class="project-title">{{ project.name }}</h3>
      </a>
    </div>
  </div>

    <div class="contactos">
      <a href="https://www.instagram.com/yonatan6731/"><div class="contactame instagram"></div></a>
      <a href="https://github.com/YonatanRojas"><div class="contactame github"></div></a>
      <a href="https://www.linkedin.com/in/yonatan-alejandro-rojas-70571a236/"><div class="contactame linkedin"></div></a>
    </div>
  
</div>

