<div class="container">
    <h1 class="title">Bienvenido a Mi Web</h1>
</div>
<div class="container-2">
    <p class="text">Buscas Saver de mi y mis capacidades y conocimientos, Haga click aqui:</p>
        <button class="button" id="button1" type="button"  routerLinkActive="active" [routerLink]="['/sobre-mi']">Conoceme</button>
            <div class="alert alert-danger" role="alert">En Desarrollo</div>
    <p class="text">Para Contactarme y trabajar con ustedes, haga click aqui:</p>
        <button class="button" id="button2" type="button" routerLinkActive="active" [routerLink]="['/contacto']">Contactame</button>
            <div class="alert alert-danger" role="alert">En Desarrollo</div>
</div>
<div class="container-3">
    <h2 class="title2">Mis Projectos</h2>
    <div class="Info-Project" routerLinkActive="active">
        <button class="button" id="button3" type="button" onclick="true" [routerLink]="['/objeto3D']">Objeto 3D</button>
            <div class="alert alert-danger" role="alert">En Desarrollo</div>
    </div>
    <div class="Info-Project" routerLinkActive="active">
        <button class="button" id="button4" type="button" onclick="true" [routerLink]="['/noticias-japon']">Noticias de Japon</button>
            <div class="alert alert-danger" role="alert">En Desarrollo</div>
    </div>
    <div class="Info-Project" routerLinkActive="active">
        <button class="button" id="button5" type="button" onclick="true"  [routerLink]="['/formulario']">Formulario</button>
            <div class="alert alert-danger" role="alert">En Desarrollo</div>
    </div>
</div>

