<header class="header">
    <div class="container">
    <div class="btn-menu">
        <label for="btn-menu">☰</label>
    </div>
        <div class="logo">
            <h1>Menu</h1>
        </div>
        <nav class="menu">
        </nav>
       
    </div>
</header>
<div class="capa"></div>

<!--second cap----------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
<div class="cont-menu">
    <nav>
        <a routerLinkActive="active" [routerLink]="['/']">Inicio</a>
        <a routerLinkActive="active" [routerLink]="['/sobre-mi']">Sobre Mi</a>
        <a routerLinkActive="active" [routerLink]="['/contacto']">Contacto</a>
        <p class="Title-Project"> Projectos </p>
        <a routerLinkActive="active" [routerLink]="['/objeto3D']">Objeto 3D</a>
        <a routerLinkActive="active" [routerLink]="['/noticias-japon']">noticias de Japon</a>
        <a routerLinkActive="active" [routerLink]="['/formulario']">Formulario</a>
    </nav>
    <label for="btn-menu">✖️</label>
</div>
</div>
        
